form { margin: 0 !important; padding: 0 !important; }

.iconAction{
	width: 14px;
	height: 14px;
	padding-right: 8px;
}

.buttonBack{
    width: 18px;
    height: 18px;
    margin-top: -4.2px;
    margin-bottom: -4.2px;
    padding-right: 8px;
}

.sortBtn{
	width: 75px;
	padding-bottom: 4px;
	padding-top: 4px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
	align-self: center;
	border-radius: 10px;
}

.viewArchived{
    width: 130px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    align-self: center;
    border-radius: 10px;
}

.viewArchived:hover{
    background-color: rgba(223, 223, 223, 1);
    cursor:pointer;
}

.sortBtn:hover{
	background-color: rgba(223, 223, 223, 1);
	cursor:pointer;
}
.searchClass{
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 22px;
	align-self: center;
	border-radius: 10px;
}
.searchInput{
	width: 150px;
	font-size: 16px;
	padding-bottom: 4px;
	padding-top: 4px;
	padding-left: 8px;
	border-width: 2px;
}
.optionSearch{
	width: 150px;
	font-size: 16px;
	padding-bottom: 4px;
	padding-top: 4px;
	padding-left: 8px;
	border-width: 1px;
}
.searchBtn{
	background-color:rgb(76, 175, 80);
	color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: none;
	padding-bottom: 6px;
	padding-top: 6px;
	padding-left: 10px;
	padding-right: 12px;
	font-size: 15px;
	align-self: center;
    cursor: pointer;
}
.searchBtn:hover{
	background-color:rgba(76, 175, 80, .5);
    color: white;
}

.resetAction{
	width: 18px;
	height: 18px;
	padding-right: 8px;
	cursor: pointer;
}
.sortBtnLink{
	background-color: #f9f9f9;
	font-size: 16px;
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
	cursor: pointer;
	width: 190;
	font-weight: bold;
}
.sortBtnLink:hover{
	background-color: #f1f1f1;
    color: black;
}
.view{
	background-color:rgb(76, 175, 80);
    color: white;
    padding: 6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: none;
    width: 90px; 
    cursor: pointer;  
}

.view:hover{
	background-color:rgba(76, 175, 80, .5);
    color: white;
}

.edit{
    background-color:rgb(0, 136, 205);
    color: white;
    padding: 6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: none;
    width: 90px; 
    cursor: pointer;
}

.edit:hover{
   background-color:rgba(0, 136, 205, .5);
    color: white;
}

.delete{
	background-color:rgb(244, 67, 54);
    color: white;
    padding: 6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: none;  
    width: 90px; 
    cursor: pointer;
}

.delete:hover{
	background-color:rgb(244, 67, 54, .5);
    color: white;
}

.deactivate{
    background-color:rgb(244, 67, 54);
    color: white;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: none;  
    width: 90px; 
    cursor: pointer;
}

.deactivate:hover{
    background-color:rgb(244, 67, 54, .5);
    color: white;
}

.feedback{
    background-color:rgb(76, 175, 80);
    color: white;
    padding: 6px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: none;
    width: 90px; 
    cursor: pointer;  
}

.feedback:hover{
    background-color:rgba(76, 175, 80, .5);
    color: white;
}

.yesButton{
	background-color:rgb(76, 175, 80);
    color: white;
    padding: 6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: none;
    width: 90px; 
    cursor: pointer;
}

.yesButton:hover{
    background-color:rgba(76, 175, 80, .8);
    color: white;
}

.noButton{
	background-color:rgb(244, 67, 54);
    color: white;
    padding: 6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: none;  
    width: 90px; 
    cursor: pointer;
}

.noButton:hover{
	background-color: rgba(244, 67, 54, .8);
    color: white;
}

.updateBig{
	background-color: rgb(76, 175, 80);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 	100%;
    cursor: pointer;
}

.updateBig:hover{
	background-color: rgba(76, 175, 80, .8);
}

.tableContentNot{
    background-color: rgb(230, 230, 230);
}

.tableContentNot:hover{
    background-color: rgba(230, 230, 230, .5);
}

.tableContent:hover{
    background-color: rgb(225, 225, 225);
}

.viewTransactionBtn{
    background-color: rgb(76, 175, 80);
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:  40%;
    cursor: pointer;
}

.viewTransactionBtn:hover{
    background-color: rgba(76, 175, 80, .8);
}

.viewReportBtn{
    background-color: rgb(76, 175, 80);
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:  40%;
    cursor: pointer;
    margin-left: 20%;
}

.viewReportBtn:hover{
    background-color: rgba(76, 175, 80, .8);
}

.loginBtn{
    background-color: rgb(255, 206, 68);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:  100%;
    cursor: pointer;
}

.loginBtn:hover{
    background-color: rgba(255, 206, 68, .8);
}

.proceedBig{
    background-color: rgb(76, 175, 80);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:  100%;
    cursor: pointer;
    margin-top: 10px;
}

.proceedBig:hover{
    background-color: rgba(76, 175, 80, .8);
}

.backBtnSmall{
    background-color: rgb(76, 175, 80);
    border: none;
    color: white;
    padding: 19px 20px;
    font-size: 16px;
    width:  12%;
    cursor: pointer;
}

.backBtnSmall:hover{
    background-color: rgba(76, 175, 80, .8);
}

.tableInputs{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 7px;
    font-size: 15px;
}

.tdInput{
    border: 1px solid black;
    margin-left: 0px;
}

.tdName {
    border: 1px solid #4286f4;
    background-color: rgb(66, 134, 244);
    color: white;
    font-weight: bold;
}

.tdinput input[type=text], input[type=date], input[type=email], input[type=password], input[type=number], .dropdownType, .textAreaDesc{
    font-size: 15px;
    width: 100%;
    padding-left: 14px;
    padding-right: 15px;
    border: 0px solid;
}

.tdinput input[type=date]{
    font-size: 13px;
}
.tdinput input:focus, .dropdownType:focus, .textAreaDesc:focus{
    outline: none;
}

.textAreaDesc{
    height: 150px;
    resize: none;
}

.tableContentYesNo:hover{
    background-color: rgb(230, 230, 230);
}

.tableYesNo{
    margin: auto;
    background-color: rgba(255, 255, 255, .5);
    text-align: left;
    font-family: century gothic;
    border-collapse: collapse;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 100%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.tableYesNoHead{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.YesNo{
    margin-top: 10px;
    position: relative;
    float: right;
}

.notVerified{
    background-color:rgb(255, 101, 1);
    color: white;
    padding: 6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: none;
    width: 90px; 
    cursor: pointer;  
}

.notVerified:hover{
    background-color:rgba(255, 101, 1, .5);
    color: white;
}

.verified{
    background-color:rgb(8, 126, 255);
    color: white;
    padding: 6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: none;
    width: 90px; 
    cursor: pointer;  
}

.verified:hover{
    background-color:rgba(8, 126, 255, .5);
    color: white;
}

table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}